* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
  text-align: center;
  margin: 0;
}

@keyframes backgroundAnimation {
  0% {
    background: #ff9a9e;
  }
  50% {
    background: #fad0c4;
  }
  100% {
    background: #ff9a9e;
  }
}

body {
  animation: backgroundAnimation 5s infinite alternate;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;

  padding: 20px;
}
.name {
  font-size: 50px;
}
.alt-id {
  font-size: 2rem;
  margin-top: 10px;
}
.below-text {
  margin-top: 20px;
  font-size: 1.5rem;
}
.assignment-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;

  a {
    text-decoration: none;
    color: #fff;
    background-color: #ff9a9e;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
  }
}
.assignment-link {
  /* width: 200px; */

  padding: 20px;
  text-align: center;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .assignment-link {
    width: 45%;
  }
  .name {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .assignment-link {
    width: 100%;
  }
}
