* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
  text-align: center;
  margin: 0;
}

@keyframes backgroundAnimation {
  0% {
    background: #ff9a9e;
  }
  50% {
    background: #fad0c4;
  }
  100% {
    background: #ff9a9e;
  }
}

body {
  animation: backgroundAnimation 5s infinite alternate;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;

  padding: 5vw;
}

.name {
  font-size: clamp(2rem, 5vw, 3rem);
}
.alt-id {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-top: 10px;
  font-weight: bold;
}
.below-text {
  margin-top: 20px;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.assignment-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  /* width: 100%;
  padding: 20px; */

  a {
    text-decoration: none;
    color: white;
    background-color: #ff9a9e;
    padding: 12px 5vw;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;

    font-size: clamp(1rem, 2vw, 1.2rem);
  }
}
.assignment-link {
  flex: 1 1 45%;
  max-width: 300px;
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}

/* Adjust for smaller screens */
@media (max-width: 500px) {
  .container {
    padding: 10px;
  }

  .assignment-links {
    flex-direction: column;
  }

  .assignment-link {
    flex: 1 1 100%;
  }
}
